h1 {
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    margin-top: 9vh;
    background-color: #FEF9EF;
}

body::-webkit-scrollbar{
    display: none;
}

.overlay {
    z-index: 1;
}

.home-boat {
    position: fixed;
    bottom: -2vmin;
    right: -5vmin;
    width: 30vw;
    height: 50vh;
    object-fit: contain;
    object-position: right bottom;
}

.home-beach {
    position: fixed;
    bottom: -5.5vmin;
    left: -20vmin;
    width: 40vw;
    height: 50vh;
    object-fit: contain;
    object-position: left bottom;
}

.home-clouds-right {
    margin-top: 9vh;
    position: fixed;
    top: -15vmin;
    right: -20vmin;
    width: 35vw;
    height: 38vh;
    object-fit: contain;
    object-position: right top;
}


.home-clouds-left {
    margin-top: 9vh;
    position: fixed;
    top: -15vmin;
    left: -20vmin;
    width: 35vw;
    height: 36vh;
    object-fit: contain;
    object-position: left top;
}